<div id="fakebody">
    <div class="principal">
        <div id="caracterSelection" class="caracterSelection">
            <label for="inputPersonnageChoix">Selectionnez un personnage pour visionner ses objets</label>
            <select id="inputPersonnageChoix" class="form-control" (change)="selectPersonnage()" [(ngModel)]="this.idPersonnageSelectionne">
                <option value="0"> Objets non possédés</option>
                <option *ngFor="let personnage of this.personnages" [value]="personnage.idPersonnage">
                    {{personnage.idPersonnage}} - {{personnage.nom}}
                </option>
            </select>
        </div>
        <div style="width: 100%">
            <h3 *ngIf="this.currentPersonnage"> {{currentPersonnage.nom}}</h3>
        </div>
        <div style="width: 100%">
            <ng-container *ngFor="let objet of this.objets">
                <app-personnage-objet [id]="objet.idObjet"></app-personnage-objet>
            </ng-container>

        </div>
    </div>
</div>


