<div class="form-row">
    <div class="col-md-2 mb-3">
        <label for="Malediction">Dé Malédiction (1D100)
        </label>
        <input min="1" max="100" type="number" class="form-control"
               id="Malediction"
               name="Malediction"
               placeholder="Malediction"
               [(ngModel)]="this.deMalediction"
               (ngModelChange)="this.resetMalediction(); this.getMalediction()"
               required>
    </div>

    <div class="col-md-2 mb-3" *ngIf="this.isObjetMauditSpecial()">
        <label for="PuissanceMalediction">Puissance Malédiction (1D3)
        </label>
        <input min="1" max="3" type="number" class="form-control"
               id="PuissanceMalediction"
               name="PuissanceMalediction"
               placeholder="PuissanceMalediction"
               [(ngModel)]="this.dePuissanceMalediction"
               (ngModelChange)="this.resetMalediction(); this.getMalediction()"
               required>
    </div>

    <div class="col-md-2 mb-3" *ngIf="this.isConditionExterieure() || this.isInconveniant()">
        <label for="deMalediction2">Dé condition ou inconveniant (1D100)
        </label>
        <input min="1" max="100" type="number" class="form-control"
               id="deMalediction2"
               name="deMalediction2"
               placeholder="deMalediction2"
               [(ngModel)]="this.deMalediction2"
               (ngModelChange)="this.getMalediction()"
               required>
    </div>
    <div class="col-md-2 mb-3" *ngIf="this.dePuissanceMalediction && this.isObjetMauditSpecial()">
        <label for="deMalediction2Bis">Objet maudit spécial (1D{{this.getNbObjetsMaudits()}})
        </label>
        <input min="1" [max]="this.getNbObjetsMaudits()" type="number" class="form-control"
               id="deMalediction2Bis"
               name="deMalediction2Bis"
               placeholder="deMalediction2Bis"
               [(ngModel)]="this.deMalediction2"
               (ngModelChange)="this.getMalediction()"
               required>
    </div>
</div>

<div *ngIf="this.malediction && !this.modificationEnCoursMalediction">
    <h3>Malediction</h3>
    <h4>{{this.malediction.title}}</h4>
    <span *ngFor="let description of this.malediction.description; let index = index;">
                <span [innerHTML]="description"></span><br/>
                <ng-container *ngFor="let table of this.malediction.table;">
                    <span *ngIf="table.position === index + 1">
                        <table cellspacing="1" border="1">
                            <tbody>
                            <tr *ngFor="let th of table.title; let thIndex = index">
                                <ng-container *ngFor="let title of th; let titleIndex = index">
                                    <th *ngIf="thIndex === 0 && table.title.length > 1 && table.title[0].length < table.title[1].length; else elseBlock"
                                        [colSpan]="table.title[1][thIndex].length / table.title[0][thIndex].length">{{title}}</th>
                                    <ng-template #elseBlock>
                                        <th>{{title}}</th>
                                    </ng-template>
                                </ng-container>
                            </tr>
                            <tr *ngFor="let td of table.tr; let tdIndex = index">
                                <ng-container *ngFor="let content of td">
                                    <td>{{content}}</td>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>
                    </span>
                </ng-container>


                <ng-container *ngFor="let ul of this.malediction.ul;">
                    <span *ngIf="+ul.position === index + 1">
                        <ul>
                            <li *ngFor="let li of ul.li;">{{li}}</li>
                        </ul>
                    </span>
                </ng-container>
            </span>
    <span *ngIf="malediction.infos" [innerHTML]="malediction.infos.data"></span><br/><br/>
    <button (click)="this.modifierMalediction()" [disabled]="this.validee">Modifier malediction</button>
    <button *ngIf="!this.validee else maledictionValidee" (click)="this.selection()">Valider malediction</button>
    <ng-template #maledictionValidee>
        <button (click)="this.deselection()">Dévalider malediction</button>
    </ng-template>
</div>

<span *ngIf="this.malediction && this.modificationEnCoursMalediction">
    <h3>Malediction</h3>
    <h4><textarea [(ngModel)]="this.malediction.title"></textarea></h4>
    <span
        *ngFor="let description of this.malediction.description; let indexMalediction = index; trackBy: trackByFn">

        <span>
            <textarea [(ngModel)]="malediction.description[indexMalediction]"></textarea>
        </span>
        <br/>

        <ng-container *ngFor="let ul of this.malediction.ul">
                    <span *ngIf="ul.position === this.indexMalediction + 1">
                        <ul>
                            <li *ngFor="let li of ul.li;">{{li}}</li>
                        </ul>
                    </span>
        </ng-container>
    </span>
    <span *ngIf="malediction.infos">
        <ng-container
            *ngFor="let shit of this.malediction.infos.data; let indexDataMalediction = index; trackBy: trackByFn">
                    <textarea [(ngModel)]="this.malediction.infos.data[indexDataMalediction]"></textarea>
            </ng-container>
    </span>
    <button (click)="this.modifierMalediction()">Valider les modifications</button>
    <button (click)="this.resetContenuMalediction()">Reset malediction</button>
</span>
