<div id="fakebody">
  <div class="principal">
    <div id="caracterSelection" class="caracterSelection">
      <h3>Selectionnez un monstre</h3>
        <app-autocomplete-optgroup-component (monstreEventEmitter)="selectionMonstre($event)"
                                             [monsterGroupes]="monstresGroupes">
          loading
        </app-autocomplete-optgroup-component>
    </div>
    <div style="width: 100%">
      <h3 *ngIf="monstreCourrant"> {{monstreCourrant.libelle}}</h3>
      <form class="needs-validation" id="competenceEffectForm">
        <div class="form-row">
          <div class="col-md-2 mb-3" *ngIf="monstreCourrant">
            <label for="DedeDrop">Dé de drop
            </label>
            <input min="1" max="20" type="number" class="form-control" id="DedeDrop"
                   name="DedeDrop"
                   placeholder="Dé de drop"
                   [(ngModel)]="this.deDeDrop"
                   (keyup)="selectionLoot($event)"
                   required>
          </div>

          <div class="col-md-2 mb-3"
               *ngIf="deDeDrop && this.lootSelectionne">
            <label for="validationInput1"> {{this.lootSelectionne.libelle}} : 1D{{this.lootSelectionne.dicePower}} </label>
            <input min="1" max="{{this.lootSelectionne.dicePower}}" type="number" class="form-control" id="validationInput1"
                   name="validationInput1"
                   placeholder="{{this.lootSelectionne.libelle}}"
                   [(ngModel)]="this.input1" required>
          </div>
          <div class="col-md-2 mb-3"
               *ngIf="deDeDrop && this.isObjet()">
            <label for="validationMalediction"> Malediction : 1D100 </label>
            <input min="1" max="100" type="number" class="form-control" id="validationMalediction"
                   name="validationMalediction"
                   placeholder="Malediction"
                   [disabled]="!this.isObjetMaudit()"
                   required>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>



