<app-maledictions *ngIf="this.maudit" #maledictionsComponent (maledictionEventEmitter)="selectionMalediction($event)"></app-maledictions>

<div style="width: 100%" class="objetSimple">
    <div class="titleTop">
        <div class="h1Fake">{{this.parametres[0]}}</div>
        <div class="validationAffichage">
            <div class="validationBox" (click)="this.changeValidation('nom')" [ngClass]="{'validatedBox' : this.afficherNom}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le nom réel de l'objet">{{this.afficherNom ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('effetMagique')" [ngClass]="{'validatedBox' : this.afficherEffetMagique}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher l'effet magique de l'objet">{{this.afficherEffetMagique ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('malediction')" [ngClass]="{'validatedBox' : this.afficherMalediction}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher la malédiction de l'objet">{{this.afficherMalediction ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('materiau')" [ngClass]="{'validatedBox' : this.afficherMateriau}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le matériau de l'objet">{{this.afficherMateriau ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('infos')" [ngClass]="{'validatedBox' : this.afficherInfos}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher les infos de l'effet magique">{{this.afficherInfos ? 1 : 0}}</div>
        </div>
    </div>
<!--
    <form class="needs-validation" id="objetSimpleForm">
    <div class="form-row">
        <div style="width: 100%" *ngIf="this.loadComplete()">
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="NbPropMag">Nombre de propriétés magiques (max : 10)
                    </label>
                    <input min="1" max="10" type="number" class="form-control"
                           id="NbPropMag"
                           name="NbPropMag"
                           placeholder="Nombre propriétés magiques"
                           [(ngModel)]="this.deNombreProprietesMagiques"
                           (ngModelChange)="this.getArrayPourNbProprieteMagique()"
                           required>
                </div>
            </div>
        </div>
    </div>
    </form>

    <div style="width: 100%" *ngIf="this.proprietesMagiques.length > 0 && !this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : <span *ngIf="this.proprietesMagiques.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>
            <h4 *ngIf="this.fauxNom"> Faux Nom : {{this.fauxNom}}</h4>

            <ng-container *ngFor="let proprieteMagique of this.proprietesMagiques;">
                <h4>{{proprieteMagique.title}}</h4>
                <span *ngFor="let description of proprieteMagique.description; let index = index;">
                    <span [innerHTML]="description"></span><br/>
                    <ng-container *ngFor="let table of proprieteMagique.table;">
                        <span *ngIf="table.position === index + 1">
                            <table cellspacing="1" border="1">
                                <tbody>
                                <tr *ngFor="let th of table.title; let thIndex = index">
                                    <ng-container *ngFor="let title of th; let titleIndex = index">
                                        <th *ngIf="thIndex === 0 && table.title.length > 1 && table.title[0].length < table.title[1].length; else elseBlock"
                                            [colSpan]="table.title[1].length / table.title[0].length">{{title}}</th>
                                        <ng-template #elseBlock>
                                            <th>{{title}}</th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of table.tr; let tdIndex = index">
                                    <ng-container *ngFor="let content of td">
                                        <td>{{content}}</td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>

                    <ng-container *ngFor="let ul of proprieteMagique.ul;">
                        <span *ngIf="+ul.position === index + 1">
                            <ul>
                                <li *ngFor="let li of ul.li;" [innerHTML]="li"></li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
                <br/>
                <br/>
                <span *ngIf="this.proprieteMagique.infos" [innerHTML]="this.proprieteMagique.infos.data"></span><br/><br/>
            </ng-container>
        </div>
        <button (click)="this.modifierContenu()" [disabled]="this.valide">Modifier propriété magique</button>
        <button *ngIf="!this.valide else objetValidee" (click)="this.selection()">Valider objet</button>
        <ng-template #objetValidee>
            <button (click)="this.deselection()">Dévalider objet</button>
        </ng-template>
    </div>


    <div style="width: 100%" *ngIf="this.proprietesMagiques.length > 0 && this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : <span *ngIf="this.proprietesMagiques.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>

            <ng-container
                *ngFor="let proprieteObjet of this.proprietesMagiques; let indexPropriete = index; trackBy: trackByFn">
                <h4><textarea [(ngModel)]="this.proprietesMagiques[indexPropriete].title"></textarea></h4>
                <mat-form-field appearance="fill" class="fauxNom">
                    <mat-label>Faux nom</mat-label>
                    <textarea [(ngModel)]="this.fauxNom" rows="1" matInput></textarea>
                </mat-form-field>
                <span
                    *ngFor="let description of this.proprietesMagiques[indexPropriete].description; let indexDescription = index; trackBy: trackByFn">
                    <textarea
                        [(ngModel)]="this.proprietesMagiques[indexPropriete].description[indexDescription]"></textarea><br/>

                    <ng-container
                        *ngFor="let table of this.proprietesMagiques[indexPropriete].table; let indexTable = index">
                        <span *ngIf="+table.position === indexDescription + 1">
                            <table>
                                <tbody>
                                <tr *ngFor="let th of this.proprietesMagiques[indexPropriete].table[indexTable].title; let thIndex = index">
                                    <ng-container
                                        *ngFor="let title of this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex]; let tdIndex = index; trackBy: trackByFn">
                                        <th *ngIf="thIndex === 0 && table.title.length > 1 && table.title[0].length < table.title[1].length; else elseBlock"
                                            [colSpan]="table.title[1].length / table.title[0].length">
                                            <textarea
                                                [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex][tdIndex]"></textarea>
                                        </th>
                                        <ng-template #elseBlock>
                                            <th>
                                                <textarea
                                                    [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex][tdIndex]"></textarea>
                                            </th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of this.proprietesMagiques[indexPropriete].table[indexTable].tr; let trIndex = index">
                                    <ng-container
                                        *ngFor="let content of this.proprietesMagiques[indexPropriete].table[indexTable].tr[trIndex]; let tdIndex = index; trackBy: trackByFn">
                                        <td>
                                            <textarea
                                                [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].tr[trIndex][tdIndex]"></textarea>
                                        </td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>

                    <ng-container *ngFor="let shit of this.proprietesMagiques[indexPropriete].ul; let indexUl = index;">
                        <span *ngIf="this.proprietesMagiques[indexPropriete].ul[indexUl].position === indexDescription + 1">
                            <ul>
                                <li *ngFor="let shitBis of this.proprietesMagiques[indexPropriete].ul[indexUl].li; let indexLi = index; trackBy: trackByFn">
                                    <textarea [(ngModel)]="this.proprietesMagiques[indexPropriete].ul[indexUl].li[indexLi]"
                                              [name]="'positon'+this.proprietesMagiques[indexPropriete].ul[indexUl].position+'ul'+indexUl+'li'+indexLi"></textarea>
                                </li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
                <br/>
                <br/>
                <ng-container
                    *ngFor="let shit of this.proprietesMagiques[indexPropriete].infos.data; let indexData = index; trackBy: trackByFn">
                    <textarea [(ngModel)]="this.proprietesMagiques[indexPropriete].infos.data[indexData]"></textarea>
                </ng-container>
            </ng-container>
        </div>
        <button (click)="this.modifierContenu()">Valider propriété magique</button>
        <button (click)="this.resetContenu()">Reset propriété magique</button>
    </div>

-->


    <div style="width: 100%" *ngIf="!this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : <span *ngIf="this.proprietesMagiques.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>
            <h4 *ngIf="this.fauxNom"> Faux Nom : {{this.fauxNom}}</h4>
        </div>
        <button (click)="this.modifierContenu()" [disabled]="this.valide">Modifier objet</button>
    </div>


    <div style="width: 100%" *ngIf="this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : <span *ngIf="this.proprietesMagiques.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>
            <mat-form-field appearance="fill" class="fauxNom">
                <mat-label>Faux nom</mat-label>
                <textarea [(ngModel)]="this.fauxNom" rows="1" matInput></textarea>
            </mat-form-field>
        </div>
        <button (click)="this.modifierContenu()">Valider objet</button>
    </div>


    <div *ngFor="let proprieteMagique of this.proprietesMagiquesFakes; let indexPropriete = index">
        <app-propriete-magique [allProprietesMagiques]="this.allProprietesMagiques"
                               [indexProprieteMagique]="indexPropriete"
                               [nom]="this.parametres[1]"
                               (creationProprieteMagiqueEventEmitter)="this.creationProprieteMagique($event)"
                               (proprieteMagiqueEventEmitter)="changeProprieteMagique($event)"
                               (resetProprieteMagiqueEventEmitter)="this.getProprieteMagique()"></app-propriete-magique>
    </div>
    <button class="btn btn-primary" *ngIf="!this.valide else objetValidee" (click)="this.selection()" [disabled]="!this.objetValidable()"
            matTooltip="L'objet doit avoir un faux nom, ou bien afficher son nom réel.">Valider objet</button>
    <ng-template #objetValidee>
        <button (click)="this.deselection()">Dévalider objet</button>
    </ng-template>
</div>
