.globalContainer {
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    padding: 1px;
    width: 100%;
}

.tableContainer {
    width: 60%;
    margin: 50px auto 50px auto;
}

.tableContainer table {
    width: 100%;
}

table, tr, th, td {
    border: unset;
}

table {
    box-shadow: 0 0 10px 3px rgba(245, 222, 179, 0.8);
}

.tableContainer .boutonValiderTable {
    margin: 5px 0 50px 0;
    float: right;
}

.tableContainer .boutonControlleTable, .tableContainer .boutonModifierDonneesTables {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tableContainer .boutonModifierDonneesTables {
    justify-content: flex-end;
}
