.ad-banner-example {
  position: fixed;
  display: flex;
  flex-direction: column;
  width : 32.4074vh;
  right: 0;
  bottom: 0;
}

.banner {
  border : 3px solid rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  padding: 15px;
  transition: 2.5s ease-out;
  margin-bottom: 15px;
  margin-right: 2px;
  width : 32.4074vh;
  overflow-wrap: break-word;
}

.Mission-Complete {
  background-color: rgba(40, 167, 69, 0.5);
}

.Server-Error {
  background-color: rgba(255, 193, 7, 0.5);
}

.SQL-Error {
  background-color: rgba(220, 53, 59, 0.5);
}

.Unknown-Error {
  background-color: rgba(248, 249, 250, 0.5);
}
