<div style="width: 100%">
    <h1>{{this.parametres[0]}}</h1>
    <form class="needs-validation" id="competenceEffectForm">
        <div class="form-row">
            <div style="width: 100%">
                <div class="col-md-2 mb-3">
                    <label for="PropMag">{{this.parametres[1]}}
                    </label>
                    <input min="1" [max]="this.getNbProprietesMagiques()" type="number" class="form-control"
                           id="PropMag"
                           name="PropMag"
                           placeholder="Propriété Magique"
                           [(ngModel)]="this.deProprieteObjet"
                           (ngModelChange)="this.getProprieteMagique()"
                           required>
                </div>
            </div>
        </div>


    </form>
    <div style="width: 100%" *ngIf="this.proprietesObjet.length > 0 && !this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : {{this.nom}} <span
                *ngIf="this.proprietesObjet.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>

            <ng-container *ngFor="let proprieteObjet of this.proprietesObjet;">
                <h4>{{proprieteObjet.title}}</h4>
                <span *ngFor="let description of proprieteObjet.description; let index = index;">
                    <span [innerHTML]="description"></span><br/>

                    <ng-container *ngFor="let table of proprieteObjet.table;">
                        <span *ngIf="+table.position === index"
                              [innerHTML]="table.data"></span>
                    </ng-container>

                    <ng-container *ngFor="let ul of proprieteObjet.ul;">
                    <span *ngIf="+ul.position === index"
                          [innerHTML]="ul.data"></span>
                    </ng-container>
                </span>
                <br/>
                <br/>
                {{proprieteObjet.infos.data}}<br/><br/>
            </ng-container>
        </div>
        <button (click)="this.modifierContenu()">Modifier</button>
    </div>

    <div style="width: 100%" *ngIf="this.proprietesObjet.length > 0 && this.modificationEnCours">
        <h1>Résultat</h1>
        <div>
            <h3>{{this.parametres[2]}} : {{this.nom}} <span
                *ngIf="this.proprietesObjet.length > 0">{{this.getNomsProprieteMagique()}}</span></h3>

            <ng-container *ngFor="let proprieteObjet of this.proprietesObjet; let indexPropriete = index">
                <h4>{{this.proprietesObjet[indexPropriete].title}}</h4>
                <span *ngFor="let description of this.proprietesObjet[indexPropriete].description; let indexDescription = index;">
                    <textarea [(ngModel)]="this.proprietesObjet[indexPropriete].description[indexDescription]"></textarea><br/>

                    <ng-container *ngFor="let table of this.proprietesObjet[indexPropriete].table; let indexTable = index;">
                        <textarea *ngIf="+this.proprietesObjet[indexPropriete].table[indexTable].position=== indexPropriete"
                              [(ngModel)]="this.proprietesObjet[indexPropriete].table[indexTable].data"></textarea>
                    </ng-container>

                    <ng-container *ngFor="let ul of this.proprietesObjet[indexPropriete].ul; let indexUl = index;">
                    <textarea *ngIf="this.proprietesObjet[indexPropriete].ul[indexUl].position === indexPropriete"
                          [(ngModel)]="this.proprietesObjet[indexPropriete].ul[indexUl].data"
                              oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'"></textarea>
                    </ng-container>
                </span>
                <br/>
                <br/>
                {{this.proprietesObjet[indexPropriete].infos.data}}<br/><br/>
            </ng-container>
        </div>
        <button (click)="this.modifierContenu()">Valider</button>
        <button (click)="this.modifierContenu()">Reset</button>
    </div>
</div>
