textarea {
    width : 100%;
}

.form-row {
    margin-left: 5px;
}

table, th, td {
    border: 1px solid black;
}

.fauxNom {
    width: 100%;
}

::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background-color: white;
}
