@import "../cssObjetCommun";

::ng-deep .objetSimple .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background-color: white;
}

.form-row {
    margin-left: 5px;
}

table, th, td {
    border: 1px solid black;
}


