<app-maledictions *ngIf="this.maudit" #maledictionsComponent
                  (maledictionEventEmitter)="selectionMalediction($event)"></app-maledictions>

<div style="width: 100%" class="objetArme">
    <div class="titleTop">
        <div class="h1Fake">Ceci est une arme</div>
        <div class="validationAffichage">
            <div class="validationBox" (click)="this.changeValidation('nom')" [ngClass]="{'validatedBox' : this.afficherNom}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le nom réel de l'objet">{{this.afficherNom ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('effetMagique')" [ngClass]="{'validatedBox' : this.afficherEffetMagique}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher l'effet magique de l'objet">{{this.afficherEffetMagique ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('malediction')" [ngClass]="{'validatedBox' : this.afficherMalediction}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher la malédiction de l'objet">{{this.afficherMalediction ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('materiau')" [ngClass]="{'validatedBox' : this.afficherMateriau}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le matériau de l'objet">{{this.afficherMateriau ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('infos')" [ngClass]="{'validatedBox' : this.afficherInfos}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher les infos de l'effet magique">{{this.afficherInfos ? 1 : 0}}</div>
        </div>
    </div>
    <form class="needs-validation" id="armeForm">
        <div class="form-row" *ngIf="!this.isSpecial">
            <div class="form-group col-md-2" *ngIf="this.allCategoriesLoaded()">
                <label for="selectCategories">Reclassement</label>
                <select id="selectCategories" class="form-control" [(ngModel)]="this.Categories"
                        (ngModelChange)="this.setAllArmesCourantes()"
                        name="'Categories Armes'">
                    <option value="1">Armes courantes</option>
                    <option value="2">Armes de guerre</option>
                    <option value="3">Armes exotiques</option>
                </select>
            </div>
            <div class="form-group col-md-2" *ngIf="this.allCategoriesCourante">
                <label for="inputFamilleMonstre">Categorie (1D{{this.allCategoriesCourante.Categories.length}})</label>
                <select id="inputFamilleMonstre" class="form-control" [(ngModel)]="this.categorieObjet"
                        (ngModelChange)="this.setArme()"
                        [name]="'categorieArme'">
                    <option *ngFor="let armeCourante of this.allCategoriesCourante.Categories"
                            [value]="armeCourante.title">
                        {{armeCourante.title}}
                    </option>
                </select>
            </div>
            <div class="col-md-2 mb-3" *ngIf="this.categorieObjet">
                <label for="categorieArme">Dé de l'arme (1D{{this.getNbArme()}})
                </label>
                <input min="1" [max]="this.getNbArme()" type="number" class="form-control" id="categorieArme"
                       name="categorieArme"
                       placeholder="Categorie de l'arme"
                       [(ngModel)]="this.deObjet"
                       (ngModelChange)="this.setArme()"
                       required>
            </div>
            <div class="form-group col-md-2" *ngIf="this.arme && this.arme.degatsParTaille">
                <label for="tailleArme">Taille Arme (1D{{this.getNbTailleArme()}})</label>
                <select id="tailleArme" class="form-control" [(ngModel)]="this.nomTaille"
                        (ngModelChange)="this.setTaille()"
                        [name]="'tailleArme'">
                    <option *ngFor="let taille of this.getNomsTailles()" [value]="taille">
                        {{taille}}
                    </option>
                </select>
            </div>

            <div class="form-group col-md-2" *ngIf="this.arme && this.arme.autresMateriaux">
                <label for="typeMateriau">materiau Arme (1D{{this.getNbMateriaux()}})</label>
                <select id="typeMateriau" class="form-control" [(ngModel)]="this.nomMateriau"
                        (ngModelChange)="this.setMateriau()"
                        [name]="'materiauArme'">
                    <option *ngFor="let materiau of this.getNomsMateriaux()" [value]="materiau">
                        {{materiau}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="dePuissanceArme">Dé de puissance de l'arme (1D3)
                </label>
                <input min="1" max="3" type="number" class="form-control" id="dePuissanceArme"
                       name="dePuissanceArme"
                       placeholder="Puissance de l'arme"
                       [(ngModel)]="this.dePuissance"
                       (ngModelChange)="this.setBonusArme()"
                       required>
            </div>

            <div class="col-md-2 mb-3" *ngIf="this.dePuissance">
                <label for="DeBonusArme">Dé de bonus de l'arme (1D100)
                </label>
                <input min="1" max="100" type="number" class="form-control" id="DeBonusArme"
                       name="DeBonusArme"
                       placeholder="Bonus Arme"
                       [(ngModel)]="this.deBonus"
                       (ngModelChange)="this.setBonusArme()"
                       required>
            </div>
        </div>
        <div *ngIf="this.isSpecial" style="width: 100%">
            <h3>Cette arme sera spéciale</h3>
            <div class="col-md-2 mb-3">
                <label for="ArmeSpec">Dé d'arme Spéciale 1D{{this.getNbProprietesMagiques(this.allArmesSpeciales)}}
                </label>
                <input min="1" [max]="this.getNbProprietesMagiques(this.allArmesSpeciales)"
                       type="number" class="form-control" id="ArmeSpec"
                       name="ArmeSpec"
                       placeholder="Arme Spéciale"
                       [(ngModel)]="this.deSpecial"
                       (ngModelChange)="this.getArmeSpeciale()"
                       required>
            </div>
        </div>

        <div class="col-md-2 mb-3" *ngIf="!this.isSpecial && this.dePuissance && this.deBonus && this.isMagique">
            <label for="NbPropMag">Nombre de propriétés magiques (max : 10)
            </label>
            <input min="1" max="10" type="number" class="form-control"
                   id="NbPropMag"
                   name="NbPropMag"
                   placeholder="Nombre propriétés magiques"
                   [(ngModel)]="this.deNombreProprietesMagiques"
                   (ngModelChange)="this.getArrayPourNbProprieteMagique()"
                   required>
        </div>

        <!--div *ngIf="this.isMagique" style="width: 100%">
            <h3>Cette arme sera magique</h3>
            <div class="col-md-2 mb-3">
                <label for="PropMag">Dé de propriété magique :
                    1D{{this.getNbProprietesMagiques(this.allProprietesMagiques)}}
                </label>
                <input min="1" [max]="this.getNbProprietesMagiques(this.allProprietesMagiques)" type="number"
                       class="form-control"
                       id="PropMag"
                       name="PropMag"
                       placeholder="Propriété Magique"
                       [(ngModel)]="this.deProprieteMagique"
                       (ngModelChange)="this.getProprieteMagique()"
                       required>
            </div>
        </div-->


    </form>
    <div style="width: 100%" *ngIf="this.nom">
        <div style="width: 100%" *ngIf="!this.modificationEnCours">
            <h1>Résultat de l'arme</h1>
            <h3><span [innerHTML]="this.nom"></span></h3>
            <h4 *ngIf="this.fauxNom"> Faux Nom : {{this.fauxNom}}</h4>
            <p>{{this.type}} <span *ngIf="this.taille"> - {{this.degats}}</span><span
                *ngIf="this.bonus"> - Bonus +{{this.bonus}}</span></p>

            <div *ngIf="this.materiau"><span [innerHTML]="this.materiau.nom"></span> : <span>{{materiau.effet}}</span></div>
            <button (click)="this.modifierContenu()" [disabled]="this.valide">Modifier informations</button>
        </div>


        <div style="width: 100%" *ngIf="this.modificationEnCours">
            <h1>Résultat de l'arme</h1>
            <h3><textarea [(ngModel)]="this.nom"></textarea></h3>
            <mat-form-field appearance="fill" class="fauxNom">
                <mat-label>Faux nom</mat-label>
                <textarea [(ngModel)]="this.fauxNom" matInput></textarea>
            </mat-form-field>
            <p><textarea [(ngModel)]="this.type"></textarea>
                <span *ngIf="this.taille"> - <textarea [(ngModel)]="this.degats"></textarea></span>
                <span *ngIf="this.bonus"> - Bonus +<textarea [(ngModel)]="this.bonus"></textarea></span>
            </p>

            <div *ngIf="this.materiau">
                <textarea [(ngModel)]="this.materiau.nom"></textarea> :
                <textarea [(ngModel)]="this.materiau.effet"></textarea>
            </div>

            <button (click)="this.modifierContenu()">Valider objet</button>
        </div>
    </div>

    <div *ngFor="let proprieteMagique of this.proprietesMagiquesFakes; let indexPropriete = index">
        <app-propriete-magique *ngIf="this.isSpecial || this.isMagique"
                               [allProprietesMagiques]="this.getAllMagiques()"
                               [indexProprieteMagique]="indexPropriete"
                               [nom]="'Propriété magique'"
                               [dePuissanceSpecial]="this.isSpecial ? this.dePuissance : null"
                               (creationProprieteMagiqueEventEmitter)="this.creationProprieteMagique($event)"
                               (proprieteMagiqueEventEmitter)="changeProprieteMagique($event)"
                               (resetProprieteMagiqueEventEmitter)="this.getProprieteMagique()"></app-propriete-magique>
    </div>


    <button *ngIf="!this.valide else objetValidee" (click)="this.selection()">Valider objet</button>
    <ng-template #objetValidee>
        <button (click)="this.deselection()">Dévalider objet</button>
    </ng-template>
</div>
