<div id="fakebody">
  <div class="principal">
    <div id="caracterSelection" class="caracterSelection">
      <h3>Selectionnez un monstre</h3>
      <app-autocomplete-groupe (monstreEventEmitter)="selectionMonstre($event)"
                               [monsterGroupes]="monstresGroupes">
        loading
      </app-autocomplete-groupe>
    </div>
    <div style="width: 100%">
      <h3 *ngIf="monstreCourrant"> {{monstreCourrant.libelle}}</h3>
    </div>
    <div style="width: 100%">
      <form class="needs-validation" id="competenceEffectForm">
        <div class="form-row" *ngFor="let lootChance of monstreSelectionneLootChance; let index = index;">
          <div style="display: flex; align-items: center; justify-content: left; width : 150px;" [ngClass]="{'missingValue': this.missingAtLeastOneValue(index)}">
            {{this.monstreSelectionneLootChance[index].roll}} : </div>
          <div class="form-group col-md-2">
            <label for="inputFamilleMonstre">Loot</label>
            <select id="inputFamilleMonstre" class="form-control" [(ngModel)]="this.monstreSelectionneLootChance[index].idLoot"
                    [name]="'Loot'+index">
              <option selected value=0> </option>
              <option *ngFor="let loot of this.lootPossible" [value]="loot.idLoot">
                {{loot.idLoot}} - {{loot.libelle}}
              </option>
            </select>
          </div>
          <div class="col-md-1 mb-5" [ngClass]="{'missing': !this.monstreSelectionneLootChance[index].diceNumber, 'missingValue': this.missingMyValue(index, 'diceNumber')}">
            <label [for]="'diceNumber'+index"> diceNumber
            </label>
            <input min="1" max="1000" type="number" class="form-control" [id]="'diceNumber'+index"
                   [name]="'diceNumber'+index"
                   [placeholder]="'diceNumber'+monstreSelectionneLootChance[index].roll"
                   [(ngModel)]="this.monstreSelectionneLootChance[index].diceNumber"
                   required>
          </div>
          <div class="col-md-1 mb-5" [ngClass]="{'missing': !this.monstreSelectionneLootChance[index].dicePower, 'missingValue': this.missingMyValue(index, 'dicePower')}">
            <label [for]="'dicePower'+index"> dicePower
            </label>
            <input min="1" max="1000" type="number" class="form-control" [id]="'dicePower'+index"
                   [name]="'dicePower'+index"
                   [placeholder]="'dicePower'+monstreSelectionneLootChance[index].roll"
                   [(ngModel)]="this.monstreSelectionneLootChance[index].dicePower"
                   required>
          </div>
          <div class="col-md-1 mb-5" [ngClass]="{'missing': !this.monstreSelectionneLootChance[index].multiplier, 'missingValue': this.missingMyValue(index, 'multiplier')}">
            <label [for]="'multiplier'+index"> Multiplier
            </label>
            <input min="1" max="1000" type="number" class="form-control" [id]="'multiplier'+index"
                   [name]="'multiplier'+index"
                   [placeholder]="'multiplier'+monstreSelectionneLootChance[index].roll"
                   [(ngModel)]="this.monstreSelectionneLootChance[index].multiplier"
                   required>
          </div>
        </div>

        <button class="btn pull-right" type="submit" id="submissionEffectButton" style="transition: 0.5s"
                (click)="this.updateOrCreateLootChance();"
                [ngClass]="this.uncompleteForm() ? 'btn-danger' : 'btn-outline-warning'">
          Valider les chances de loot
        </button>
      </form>

    </div>
  </div>
</div>

<app-fading-info #Banner></app-fading-info>


