<app-maledictions *ngIf="this.maudit" #maledictionsComponent
                  (maledictionEventEmitter)="selectionMalediction($event)"></app-maledictions>

<div style="width: 100%" class="objetArme">
    <div class="titleTop">
        <div class="h1Fake">Ceci est une arme</div>
        <div class="validationAffichage">
            <div class="validationBox" (click)="this.changeValidation('nom')" [ngClass]="{'validatedBox' : this.afficherNom}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le nom réel de l'objet">{{this.afficherNom ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('effetMagique')" [ngClass]="{'validatedBox' : this.afficherEffetMagique}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher l'effet magique de l'objet">{{this.afficherEffetMagique ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('malediction')" [ngClass]="{'validatedBox' : this.afficherMalediction}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher la malédiction de l'objet">{{this.afficherMalediction ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('materiau')" [ngClass]="{'validatedBox' : this.afficherMateriau}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le matériau de l'objet">{{this.afficherMateriau ? 1 : 0}}</div>
            <div class="validationBox" (click)="this.changeValidation('infos')" [ngClass]="{'validatedBox' : this.afficherInfos}"
                 data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher les infos de l'objet">{{this.afficherInfos ? 1 : 0}}</div>
        </div>
    </div>
    <form class="needs-validation" id="armeForm">
        <div class="form-row" *ngIf="!this.isSpecial">
            <div class="form-group col-md-2" *ngIf="this.allCategoriesLoaded()">
                <label for="selectCategories">Reclassement</label>
                <select id="selectCategories" class="form-control" [(ngModel)]="this.Categories"
                        (ngModelChange)="this.setAllArmesCourantes()"
                        name="'Categories Armes'">
                    <option value="1">Armes courantes</option>
                    <option value="2">Armes de guerre</option>
                    <option value="3">Armes exotiques</option>
                </select>
            </div>
            <div class="form-group col-md-2" *ngIf="this.allCategoriesCourante">
                <label for="inputFamilleMonstre">Categorie (1D{{this.allCategoriesCourante.Categories.length}})</label>
                <select id="inputFamilleMonstre" class="form-control" [(ngModel)]="this.categorieObjet"
                        (ngModelChange)="this.setArme()"
                        [name]="'categorieArme'">
                    <option *ngFor="let armeCourante of this.allCategoriesCourante.Categories"
                            [value]="armeCourante.title">
                        {{armeCourante.title}}
                    </option>
                </select>
            </div>
            <div class="col-md-2 mb-3" *ngIf="this.categorieObjet">
                <label for="categorieArme">Dé de l'arme (1D{{this.getNbArme()}})
                </label>
                <input min="1" [max]="this.getNbArme()" type="number" class="form-control" id="categorieArme"
                       name="categorieArme"
                       placeholder="Categorie de l'arme"
                       [(ngModel)]="this.deObjet"
                       (ngModelChange)="this.setArme()"
                       required>
            </div>
            <div class="form-group col-md-2" *ngIf="this.arme && this.arme.degatsParTaille">
                <label for="tailleArme">Taille Arme (1D{{this.getNbTailleArme()}})</label>
                <select id="tailleArme" class="form-control" [(ngModel)]="this.nomTaille"
                        (ngModelChange)="this.setTaille()"
                        [name]="'tailleArme'">
                    <option *ngFor="let taille of this.getNomsTailles()" [value]="taille">
                        {{taille}}
                    </option>
                </select>
            </div>

            <div class="form-group col-md-2" *ngIf="this.arme && this.arme.autresMateriaux">
                <label for="typeMateriau">materiau Arme (1D{{this.getNbMateriaux()}})</label>
                <select id="typeMateriau" class="form-control" [(ngModel)]="this.nomMateriau"
                        (ngModelChange)="this.setMateriau()"
                        [name]="'materiauArme'">
                    <option *ngFor="let materiau of this.getNomsMateriaux()" [value]="materiau">
                        {{materiau}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="dePuissanceArme">Dé de puissance de l'arme
                </label>
                <input min="1" max="3" type="number" class="form-control" id="dePuissanceArme"
                       name="dePuissanceArme"
                       placeholder="Puissance de l'arme"
                       [(ngModel)]="this.dePuissance"
                       (ngModelChange)="this.setBonusArme()"
                       required>
            </div>

            <div class="col-md-2 mb-3" *ngIf="this.dePuissance">
                <label for="DeBonusArme">Dé de bonus de l'arme
                </label>
                <input min="1" max="100" type="number" class="form-control" id="DeBonusArme"
                       name="DeBonusArme"
                       placeholder="Bonus Arme"
                       [(ngModel)]="this.deBonus"
                       (ngModelChange)="this.setBonusArme()"
                       required>
            </div>
        </div>
        <div *ngIf="this.isSpecial" style="width: 100%">
            <h3>Cette arme sera spéciale</h3>
            <div class="col-md-2 mb-3">
                <label for="ArmeSpec">Dé d'arme Spéciale 1D{{this.getNbProprietesMagiques(this.allArmesSpeciales)}}
                </label>
                <input min="1" [max]="this.getNbProprietesMagiques(this.allArmesSpeciales)"
                       type="number" class="form-control" id="ArmeSpec"
                       name="ArmeSpec"
                       placeholder="Arme Spéciale"
                       [(ngModel)]="this.deSpecial"
                       (ngModelChange)="this.getArmeSpeciale()"
                       required>
            </div>
        </div>


        <div *ngIf="this.isMagique" style="width: 100%">
            <h3>Cette arme sera magique</h3>
            <div class="col-md-2 mb-3">
                <label for="PropMag">Dé de propriété magique :
                    1D{{this.getNbProprietesMagiques(this.allProprietesMagiques)}}
                </label>
                <input min="1" [max]="this.getNbProprietesMagiques(this.allProprietesMagiques)" type="number"
                       class="form-control"
                       id="PropMag"
                       name="PropMag"
                       placeholder="Propriété Magique"
                       [(ngModel)]="this.deProprieteMagique"
                       (ngModelChange)="this.getProprieteMagique()"
                       required>
            </div>
        </div>


    </form>
    <div style="width: 100%" *ngIf="this.nom && !this.modificationEnCours">
        <div style="width: 100%" *ngIf="this.nom">
            <h1>Résultat de l'arme</h1>
            <h3><span [innerHTML]="this.nom"></span></h3>
            <h4 *ngIf="this.fauxNom"> Faux Nom : {{this.fauxNom}}</h4>
            <p>{{this.type}} <span *ngIf="this.taille"> - {{this.degats}}</span><span
                *ngIf="this.bonus"> - Bonus +{{this.bonus}}</span></p>

            <ng-container *ngFor="let proprieteMagique of this.proprietesMagiques;">
                <h4>{{proprieteMagique.title}}</h4>
                <span *ngFor="let description of proprieteMagique.description; let index = index;">
                    <span [innerHTML]="description"></span><br/>

                    <ng-container *ngFor="let table of proprieteMagique.table;">
                        <span *ngIf="table.position === index + 1">
                            <table cellspacing="1" border="1">
                                <tbody>
                                <tr *ngFor="let th of table.title; let thIndex = index">
                                    <ng-container *ngFor="let title of th; let titleIndex = index">
                                        <th *ngIf="thIndex === 0 && table.title.length > 1 && table.title[0].length < table.title[1].length; else elseBlock"
                                            [colSpan]="table.title[1].length / table.title[0].length">{{title}}</th>
                                        <ng-template #elseBlock>
                                            <th>{{title}}</th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of table.tr; let tdIndex = index">
                                    <ng-container *ngFor="let content of td">
                                        <td>{{content}}</td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>


                    <ng-container *ngFor="let ul of proprieteMagique.ul;">
                        <span *ngIf="+ul.position === index + 1">
                            <ul>
                                <li *ngFor="let li of ul.li;" [innerHTML]="li"></li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
                <br/>
                <br/>
                <span *ngIf="this.proprieteMagique.infos" [innerHTML]="proprieteMagique.infos.data"></span><br/><br/>
            </ng-container>
            <div *ngIf="this.materiau"><span [innerHTML]="this.materiau.nom"></span> : <span>{{materiau.effet}}</span></div>
        </div>
        <button (click)="this.modifierContenu()" [disabled]="this.valide">Modifier propriété magique</button>
        <button *ngIf="!this.valide else objetValidee" (click)="this.selection()">Valider objet</button>
        <ng-template #objetValidee>
            <button (click)="this.deselection()">Dévalider objet</button>
        </ng-template>
    </div>

    <div style="width: 100%" *ngIf="this.nom && this.modificationEnCours">
        <h1>Résultat de l'arme</h1>
        <h3><textarea [(ngModel)]="this.nom"></textarea></h3>
        <mat-form-field appearance="fill" class="fauxNom">
            <mat-label>Faux nom</mat-label>
            <textarea [(ngModel)]="this.fauxNom" rows="1" matInput></textarea>
        </mat-form-field>
        <p><textarea [(ngModel)]="this.type"></textarea>
            <span *ngIf="this.taille"> - <textarea [(ngModel)]="this.degats"></textarea></span>
            <span *ngIf="this.bonus"> - Bonus +<textarea [(ngModel)]="this.bonus"></textarea></span>
        </p>

        <ng-container
            *ngFor="let proprieteObjet of this.proprietesMagiques; let indexPropriete = index; trackBy: trackByFn">
            <h4><textarea [(ngModel)]="this.proprietesMagiques[indexPropriete].title"></textarea></h4>
            <span
                *ngFor="let description of this.proprietesMagiques[indexPropriete].description; let indexDescription = index; trackBy: trackByFn">
                    <textarea
                        [(ngModel)]="this.proprietesMagiques[indexPropriete].description[indexDescription]"></textarea><br/>

                    <ng-container
                        *ngFor="let table of this.proprietesMagiques[indexPropriete].table; let indexTable = index">
                        <span *ngIf="+table.position === indexDescription + 1">
                            <table>
                                <tbody>
                                <tr *ngFor="let th of this.proprietesMagiques[indexPropriete].table[indexTable].title; let thIndex = index">
                                    <ng-container
                                        *ngFor="let title of this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex]; let tdIndex = index; trackBy: trackByFn">
                                        <th *ngIf="thIndex === 0 && table.title.length > 1 && table.title[0].length < table.title[1].length; else elseBlock"
                                            [colSpan]="table.title[1].length / table.title[0].length">
                                            <textarea
                                                [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex][tdIndex]"></textarea>
                                        </th>
                                        <ng-template #elseBlock>
                                            <th>
                                                <textarea
                                                    [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].title[thIndex][tdIndex]"></textarea>
                                            </th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of this.proprietesMagiques[indexPropriete].table[indexTable].tr; let trIndex = index">
                                    <ng-container
                                        *ngFor="let content of this.proprietesMagiques[indexPropriete].table[indexTable].tr[trIndex]; let tdIndex = index; trackBy: trackByFn">
                                        <td>
                                            <textarea
                                                [(ngModel)]="this.proprietesMagiques[indexPropriete].table[indexTable].tr[trIndex][tdIndex]"></textarea>
                                        </td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>

                    <ng-container *ngFor="let shit of this.proprietesMagiques[indexPropriete].ul; let indexUl = index;">
                        <span
                            *ngIf="this.proprietesMagiques[indexPropriete].ul[indexUl].position === indexDescription + 1">
                            <ul>
                                <li *ngFor="let shitBis of this.proprietesMagiques[indexPropriete].ul[indexUl].li; let indexLi = index; trackBy: trackByFn">
                                    <textarea
                                        [(ngModel)]="this.proprietesMagiques[indexPropriete].ul[indexUl].li[indexLi]"
                                        [name]="'positon'+this.proprietesMagiques[indexPropriete].ul[indexUl].position+'ul'+indexUl+'li'+indexLi"></textarea>
                                </li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
            <br/>
            <br/>
            <ng-container
                *ngFor="let shit of this.proprietesMagiques[indexPropriete].infos.data; let indexData = index; trackBy: trackByFn">
                <textarea [(ngModel)]="this.proprietesMagiques[indexPropriete].infos.data[indexData]"></textarea>
            </ng-container>
        </ng-container>
        <div *ngIf="this.materiau"><textarea [(ngModel)]="this.materiau.nom"></textarea> : <textarea
            [(ngModel)]="this.materiau.effet"></textarea>
        </div>
        <button (click)="this.modifierContenu()">Valider propriété magique</button>
        <button (click)="this.resetContenu()">Reset propriété magique</button>
    </div>
</div>
