textarea {
    width: 100%;
}

.fauxNom {
    width: 100%;
}

.validationAffichage {
    display: flex;
    flex-flow: row wrap;
}

.validationBox {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    color: black;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, darkgrey 50%, #2098D1 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    border: solid 1px wheat;
    /* Essaie d'alignement au centre */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.validatedBox {
    background-position: 0 -100%;
}

::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background-color: white;
}
