<mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
        <span>[Titre du menu]</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/testPersonnage">Personnages</a>
        <a mat-button routerLink="/GestionObjets">Gestion Objets</a>
        <a mat-button routerLink="/GestionMonstre">Gestion Monstre</a>
        <a mat-button routerLink="/GestionDropMonstreBis">Gestion Drop Monstre</a>
        <a mat-button routerLink="/contact">Contact</a>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/testPersonnage">Personnages</a>
            <a mat-button routerLink="/GestionObjets">Gestion Objets</a>
            <a mat-button routerLink="/GestionMonstre">Gestion Monstre</a>
            <a mat-button routerLink="/GestionDropMonstreBis">Gestion Drop Monstre</a>
            <a mat-button routerLink="/contact">Contact</a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

        <!--Composant de base, tout le reste représente le menu-->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>

