@import "~@angular/material/prebuilt-themes/purple-green.css";
body{
    margin: 0;
}

.companyName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: black;
    color: #fff;
}

.mat-drawer[_ngcontent-qjv-c143] {
    background-color: #424242;
    color: #fff;
}

.menuItems .btn-outline-danger, .menuItemsMobile .btn-outline-danger {
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}

.menuItems .btn-outline-danger:hover, .menuItemsMobile .btn-outline-danger:hover {
    color: wheat;
    background-color: rgba(220, 53, 69, 0.5);
    border-color: #dc3545;
}

.menuItems a {
    transition: all 0.35s ease-in-out;
}

.menuItems a:hover {
    color: wheat;
    background-color: rgba(220, 53, 69, 0.5);
    border-color: #dc3545;
}

/*
Demon (représente le démon)
.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}
*/
