<mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
        <span>[Titre du menu]</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" class="menuItems">
        <button mat-button [matMenuTriggerFor]="personnage">Personnage <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #personnage="matMenu">
            <button mat-menu-item > <a mat-button routerLink="/testPersonnage">Personnage</a></button>
            <button mat-menu-item *ngIf="isGameMaster()"><a mat-button routerLink="/progression">Gestion niveaux</a></button>
            <button mat-menu-item *ngIf="isGameMaster()"><a mat-button routerLink="/GestionNiveaux">Attribution niveaux</a></button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="objets" *ngIf="isGameMaster()">Objets <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #objets="matMenu">
            <button mat-menu-item *ngIf="isGameMaster()"><a mat-button routerLink="/LootTable">Loot</a></button>
            <button mat-menu-item *ngIf="isGameMaster()"><a mat-button routerLink="/GestionObjets">Gestion Objets</a></button>
            <button mat-menu-item *ngIf="isGameMaster()"><a mat-button routerLink="/GestionDropMonstreBis">Gestion Drop Monstre</a></button>
        </mat-menu>

        <a mat-button routerLink="/GestionMonstre" *ngIf="isGameMaster()">Gestion Monstre</a>
        <a mat-button routerLink="/sources">Sources</a>

        <button class="btn btn-outline-danger" routerLink="/login" *ngIf="!this.isAuth()">Connexion</button>
        <button class="btn btn-outline-danger" routerLink="/deconnexion" *ngIf="this.isAuth()">Déconnexion</button>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column" class="menuItemsMobile">
            <a mat-button routerLink="/testPersonnage">Personnages</a>
            <a mat-button routerLink="/progression" *ngIf="isGameMaster()">Gestion niveaux</a>
            <a mat-button routerLink="/GestionNiveaux" *ngIf="isGameMaster()">Attribution niveaux</a>
            <a mat-button routerLink="/LootTable" *ngIf="isGameMaster()">Loot</a>
            <a mat-button routerLink="/GestionObjets" *ngIf="isGameMaster()">Gestion Objets</a>
            <a mat-button routerLink="/GestionMonstre" *ngIf="isGameMaster()">Gestion Monstre</a>
            <a mat-button routerLink="/GestionDropMonstreBis" *ngIf="isGameMaster()">Gestion Drop Monstre</a>
            <a mat-button routerLink="/sources">Sources</a>
            <button class="btn btn-outline-danger" routerLink="/login" *ngIf="!this.isAuth()">Connexion</button>
            <button class="btn btn-outline-danger" (click)="this.signOut()" *ngIf="this.isAuth()">Déconnexion</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

        <!--Composant de base, tout le reste représente le menu-->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>

