<div style="width: 100%" *ngIf="this.competence" class="personnageObjet">
    <div style="width: 100%" *ngIf="!this.modificationEnCours">
        <div class="titleTop">
            <div class="h1Fake" [innerHTML]="this.competence.titre"></div>
        </div>
        <h4 *ngIf="this.competence.niveau"> Niveau : {{this.competence.niveau}}</h4>
        <div *ngIf="this.competence.etat">{{this.competence.etat}}</div>
        <p *ngIf="this.competence.optionnelle">{{this.competence.optionnelle}}</p>
        <span *ngIf="this.competence.icone">{{this.competence.icone}}</span> : <img [src]="'assets/icones/' + this.competence.icone" alt="iconeCompetence"/>
        <br/>
        <button class="btn btn-light" (click)="this.modifierCompetence()" [disabled]="this.valide">Modifier competence</button>
    </div>

    <div style="width: 100%" *ngIf="this.modificationEnCours">
        <div class="titleTop">
            <div class="h1Fake" [innerHTML]="this.competence.titre"></div>
        </div>
        <h6>
            <mat-form-field class="example-full-width">
                <mat-label>Titre de la competence</mat-label>
                <textarea [(ngModel)]="this.competence.titre" matInput></textarea>
            </mat-form-field>
        </h6>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Niveau de la competence</mat-label>
            <textarea [(ngModel)]="this.competence.niveau" rows="1" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Etat de la competence</mat-label>
            <textarea [(ngModel)]="this.competence.etat" matInput></textarea>
        </mat-form-field>
        <!--Si c'est une arme-->
        <mat-label>Optionnelle ?</mat-label>
        <mat-checkbox [(ngModel)]="this.competence.optionnelle"></mat-checkbox>

        <mat-form-field>
            <mat-label>Icone de la competence</mat-label>
            <textarea [(ngModel)]="this.competence.icone" matInput></textarea>
        </mat-form-field>
        <button class="btn btn-outline-light" (click)="this.modifierCompetence()" [disabled]="!this.competenceChanged()">Valider modification competence</button>
        <ng-container *ngIf="!this.competenceChanged() else resetCompetenceState">
            <button class="btn btn-outline-info" (click)="this.modificationEnCours = !this.modificationEnCours">Annuler</button>
        </ng-container>
        <ng-template #resetCompetenceState>
            <button class="btn btn-outline-warning"  (click)="this.resetCompetence()">Reset competence</button>
        </ng-template>
    </div>

    <ng-container *ngFor="let contenu of this.competence.contenu; let indexContenu = index; trackBy: trackByFn">
        <ng-container *ngIf="this.idCompetenceContenuModifieEnCours !== contenu.idCompetenceContenu else modificationCompetenceContenu">
            <div *ngIf="contenu.niveauCompetenceRequis">Niveau requis : {{contenu.niveauCompetenceRequis}}</div>
            <div>{{contenu.contenu}}</div>
            <button class="btn btn-light" (click)="this.modifierCompetenceContenu(contenu.idCompetenceContenu)"
                    [disabled]="this.idCompetenceContenuModifieEnCours !== null">Modifier contenu</button>
        </ng-container>
        <ng-template #modificationCompetenceContenu>
            <hr style="width: 66%; background-color: lightgrey; margin-left: 0; height : 1px">
            <h6>Contenu</h6>
            <mat-form-field>
                <mat-label>Niveau de la competence requis</mat-label>
                <textarea [(ngModel)]="this.competence.contenu[indexContenu].niveauCompetenceRequis" matInput></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contenu</mat-label>
                <textarea [(ngModel)]="this.competence.contenu[indexContenu].contenu" matInput></textarea>
            </mat-form-field>
            <button class="btn btn-outline-light" (click)="this.validerModificationCompetenceContenu()">Valider modification competence</button>
            <button class="btn btn-outline-warning" (click)="this.resetCompetenceContenu()">Reset competence</button>
            <hr style="width: 66%; background-color: lightgrey; margin-left: 0; height : 1px">
            <br/>
        </ng-template>
    </ng-container>
</div>
<div *ngIf="this.competence && this.modificationEnCours && this.areDifferentCompetences(this.competence, this.competenceOriginal)">
    <div class="messageChargement">Chargement en cours</div>
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>
