.container {
    min-width: 95vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: wheat !important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: wheat !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: wheat !important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: wheat !important;
}

::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    color: wheat;
}

::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-input-element {
    caret-color: wheat;
}

::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-label {
    color: wheat;
}

::ng-deep .signinContainer .mat-form-field .mat-form-field-flex {
    background-color: unset;
}

.mat-form-field, .mat-label {
    color: wheat;
}

.mat-icon {
    margin-right: 10px;
}

.signinContainer {
    width: 36.1315vw;
    min-height: 650px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(to top, #C70039, #581845);
    background: -o-linear-gradient(to top, #C70039, #581845);
    background: -moz-linear-gradient(to top, #C70039, #581845);
    background: linear-gradient(to top, #C70039, #581845);
    // linear-gradient(to top left, #FFC300 20%, #8547EA, #631FD2)
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.signinContainer form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.signinContainer form .needSpace {
    margin-bottom: 30px;
}

.form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}

/*
.imageIcon {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
*/

.logo img {
    width: 100px;
}

.validationButton {
    border-radius: 25px;
    background-color: white !important;
    width: 120px;
    height: 50px;
    border: unset;
}

@media (max-width: 1200px) {
    .signinContainer {
        width: unset;
        height: unset;
        max-width: 350px;
        border-radius: 10px;
        padding: 37px;
    }
    .logo img {
        width: 75px;
    }
    .mat-form-field {
        font-size: 13px;
    }
    .form-title {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    ::ng-deep .mat-checkbox-label {
        white-space: normal;
        max-width: 210px;
        word-break: break-word;
    }
}

.available {
    color: #52BE80;
}
