<html>
<body>

{{this.currentTestObject.title}}<br/>
<span *ngFor="let description of this.currentTestObject.description; let index = index;">
  <span>{{description}}<br/></span>

  <ng-container *ngFor="let table of this.currentTestObject.table;">
    <span *ngIf="+table[0] === index"
          [innerHTML]="table[1]"></span>
  </ng-container>
  <ng-container *ngFor="let ul of this.currentTestObject.ul;">
    <span *ngIf="+ul[0] === index"
          [innerHTML]="ul[1]"></span>
  </ng-container>

</span>
<br/>
<br/>
{{this.currentTestObject.infos.data}}<br/><br/>

</body>
</html>
