<div style="width: 100%" *ngIf="this.objet && !this.updating" class="personnageObjet">
    <div style="width: 100%" *ngIf="!this.modificationEnCours">
        <div class="titleTop">
            <div class="h1Fake" [innerHTML]="this.objet.nom"></div>
            <div class="validationAffichage">
                <div class="validationBox" (click)="this.changeValidation('nom')" [ngClass]="{'validatedBox' : this.objet.afficherNom}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le nom réel de l'objet">{{this.objet.afficherNom ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('effetMagique')" [ngClass]="{'validatedBox' : this.objet.afficherEffetMagique}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher l'effet magique de l'objet">{{this.objet.afficherEffetMagique ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('malediction')" [ngClass]="{'validatedBox' : this.objet.afficherMalediction}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher la malédiction de l'objet">{{this.objet.afficherMalediction ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('materiau')" [ngClass]="{'validatedBox' : this.objet.afficherMateriau}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le matériau de l'objet">{{this.objet.afficherMateriau ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('infos')" [ngClass]="{'validatedBox' : this.objet.afficherInfos}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher les infos de l'objet">{{this.objet.afficherInfos ? 1 : 0}}</div>
            </div>
        </div>
        <h4 *ngIf="this.objet.fauxNom"> Faux Nom : {{this.objet.fauxNom}}</h4>
        <div *ngIf="this.objet.effetMagique">{{this.objet.type}}</div>
        <p *ngIf="this.objet.armure"><span *ngIf="this.objet.armure"> Armure: {{this.objet.armure}}
                <span *ngIf="this.objet.bonus">- Bonus +{{this.objet.bonus}}</span></span>
            <span *ngIf="this.objet.prix"> - Prix : {{this.objet.prix.toLocaleString("fr")}} po</span>
        </p>
        <p *ngIf="this.objet.degats"> <span *ngIf="this.objet.taille"> Dégats : {{this.objet.degats}}</span><span
            *ngIf="this.objet.bonus"> - Bonus +{{this.objet.bonus}}</span></p>
        <div *ngIf="this.objet.malediction">
            Malediction
            <br/>
            <span [innerHTML]="this.objet.malediction.nom"></span> : <span>{{this.objet.malediction.description}}</span>
        </div>
        <br/>
        <ng-container *ngFor="let effetMagique of this.objet.effetMagique;">
            <h4>{{effetMagique.title}}</h4>
            <span *ngFor="let description of effetMagique.effetMagiqueDescription; let index = index;">
                    <span [innerHTML]="description.contenu"></span><br/>

                    <ng-container *ngFor="let table of effetMagique.effetMagiqueTable;">
                        <span *ngIf="table.position === index + 1">
                            <table cellspacing="1" border="1">
                                <tbody>
                                <tr *ngFor="let th of table.effetMagiqueTableTitle; let thIndex = index" style="text-align: center">
                                    <ng-container *ngFor="let title of th.effetMagiqueTableTitleContent; let titleIndex = index">
                                        <th *ngIf="thIndex === 0 && table.effetMagiqueTableTitle.length > 1
                                        && table.effetMagiqueTableTitle[0].effetMagiqueTableTitleContent.length < table.effetMagiqueTableTitle[1].effetMagiqueTableTitleContent.length; else elseBlock"
                                            [colSpan]="(table.effetMagiqueTableTitle[1].effetMagiqueTableTitleContent.length / table.effetMagiqueTableTitle[0].effetMagiqueTableTitleContent.length)">{{title.contenu}}</th>
                                        <ng-template #elseBlock>
                                            <th>{{title.contenu}}</th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of table.effetMagiqueTableTr; let tdIndex = index">
                                    <ng-container *ngFor="let content of td.effetMagiqueTableTrContent">
                                        <td>{{content.contenu}}</td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>


                    <ng-container *ngFor="let ul of effetMagique.effetMagiqueUl;">
                        <span *ngIf="+ul.position === index + 1">
                            <ul>
                                <li *ngFor="let li of ul.effetMagiqueUlContent;" [innerHTML]="li.contenu"></li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
            <br/>
            <br/>
            <span *ngIf="effetMagique.effetMagiqueDBInfos"> <span *ngFor="let info of effetMagique.effetMagiqueDBInfos" [innerHTML]="info.contenu"></span></span><br/><br/>
        </ng-container>
        <div *ngIf="this.objet.materiau">
            Materiau
            <br/>
            <span [innerHTML]="this.objet.materiau.nom"></span> : <span>{{this.objet.materiau.effet}}</span>
        </div>
        <button class="btn btn-light" (click)="this.modifierContenu()" [disabled]="this.valide">Modifier propriété magique</button>
        <button class="btn btn-success" *ngIf="!this.valide else objetValidee" (click)="this.selection()" [disabled]="!this.areDifferentObjets(this.objet, this.objetOriginal)">Valider objet</button>
        <ng-template #objetValidee>
            <button class="btn btn-outline-warning" (click)="this.selection()">Dévalider objet</button>
        </ng-template>
    </div>

    <div style="width: 100%" *ngIf="this.modificationEnCours">
        <div class="titleTop">
            <div class="h1Fake" [innerHTML]="this.objet.nom"></div>
            <div class="validationAffichage">
                <div class="validationBox" (click)="this.changeValidation('nom')" [ngClass]="{'validatedBox' : this.objet.afficherNom}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le nom réel de l'objet">{{this.objet.afficherNom ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('effetMagique')" [ngClass]="{'validatedBox' : this.objet.afficherEffetMagique}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher l'effet magique de l'objet">{{this.objet.afficherEffetMagique ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('malediction')" [ngClass]="{'validatedBox' : this.objet.afficherMalediction}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher la malédiction de l'objet">{{this.objet.afficherMalediction ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('materiau')" [ngClass]="{'validatedBox' : this.objet.afficherMateriau}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher le matériau de l'objet">{{this.objet.afficherMateriau ? 1 : 0}}</div>
                <div class="validationBox" (click)="this.changeValidation('infos')" [ngClass]="{'validatedBox' : this.objet.afficherInfos}"
                     data-toggle="tooltip" data-placement="bottom" matTooltip="Afficher les infos de l'objet">{{this.objet.afficherInfos ? 1 : 0}}</div>
            </div>
        </div>
        <h6>
            <mat-form-field class="example-full-width">
                <mat-label>Nom de l'bjet</mat-label>
                <textarea [(ngModel)]="this.objet.nom" matInput></textarea>
            </mat-form-field>
         </h6>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Faux nom</mat-label>
            <textarea [(ngModel)]="this.objet.fauxNom" rows="1" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type de l'objet</mat-label>
            <textarea [(ngModel)]="this.objet.type" matInput></textarea>
        </mat-form-field>
        <!--Si c'est une arme-->
        <div *ngIf="this.objet.degats" style="width: 100%">
            <span *ngIf="this.objet.taille">
                <mat-form-field>
                <mat-label>Dégâts</mat-label>
                    <textarea [(ngModel)]="this.objet.degats" matInput></textarea>
                </mat-form-field>
            </span>
            <span *ngIf="this.objet.bonus">
                <mat-form-field>
                <mat-label>Bonus dégâts +</mat-label>
                    <textarea [(ngModel)]="this.objet.bonus" matInput></textarea>
                </mat-form-field>
            </span>
        </div>
        <!--Si c'est une armure-->
        <div *ngIf="this.objet.armure" style="width: 100%">

            <span *ngIf="this.objet.armure">
                <mat-form-field>
                <mat-label>Armure</mat-label>
                    <textarea [(ngModel)]="this.objet.armure" matInput></textarea>
                </mat-form-field>
            </span>

            <span *ngIf="this.objet.bonus">
                <mat-form-field>
                <mat-label>Bonus d'armure +</mat-label>
                    <textarea [(ngModel)]="this.objet.bonus" matInput></textarea>
                </mat-form-field>
            </span>

            <span *ngIf="this.objet.prix">
                <mat-form-field>
                <mat-label>Prix (po)</mat-label>
                    <textarea [(ngModel)]="this.objet.prix" matInput></textarea>
                </mat-form-field>
            </span>
        </div>

        <div *ngIf="this.objet.malediction">
            <hr  style="width: 66%; background-color: lightgrey; margin-left: 0; height : 1px">
            <h6>Malediction</h6>
            <mat-form-field class="example-full-width">
                <mat-label>Nom malediction</mat-label>
                <textarea [(ngModel)]="this.objet.malediction.nom" matInput></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 100%">
                <mat-label>Effet malediction</mat-label>
                <textarea [(ngModel)]="this.objet.malediction.description" matInput></textarea>
            </mat-form-field>
        </div>

        <ng-container *ngFor="let proprieteObjet of this.objet.effetMagique; let indexPropriete = index; trackBy: trackByFn">
            <hr  style="width: 66%; background-color: lightgrey; margin-left: 0; height : 1px">
            <h6>Effet Magique</h6>
            <h6>
                <mat-form-field class="example-full-width">
                    <mat-label>Titre effetMagique</mat-label>
                    <textarea [(ngModel)]="this.objet.effetMagique[indexPropriete].title" matInput></textarea>
                </mat-form-field>
            </h6>
            <span
                *ngFor="let description of this.objet.effetMagique[indexPropriete].effetMagiqueDescription; let indexDescription = index; trackBy: trackByFn">
                    <textarea
                        [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueDescription[indexDescription].contenu"></textarea><br/>

                    <ng-container
                        *ngFor="let table of this.objet.effetMagique[indexPropriete].effetMagiqueTable; let indexTable = index">
                        <span *ngIf="+table.position === indexDescription + 1">
                            <table>
                                <tbody>
                                <tr *ngFor="let th of this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTitle; let thIndex = index">
                                    <ng-container
                                        *ngFor="let title of this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTitle[thIndex].effetMagiqueTableTitleContent; let tdIndex = index; trackBy: trackByFn">
                                        <th *ngIf="thIndex === 0 && table.effetMagiqueTableTitle.length > 1 && table.effetMagiqueTableTitle[0].effetMagiqueTableTitleContent.length < table.effetMagiqueTableTitle[1].effetMagiqueTableTitleContent.length; else elseBlock"
                                            [colSpan]="table.effetMagiqueTableTitle[1].effetMagiqueTableTitleContent.length / table.effetMagiqueTableTitle[0].effetMagiqueTableTitleContent.length">
                                            <textarea
                                                [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTitle[thIndex].effetMagiqueTableTitleContent[tdIndex].contenu"></textarea>
                                        </th>
                                        <ng-template #elseBlock>
                                            <th>
                                                <textarea
                                                    [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTitle[thIndex].effetMagiqueTableTitleContent[tdIndex].contenu"></textarea>
                                            </th>
                                        </ng-template>
                                    </ng-container>
                                </tr>
                                <tr *ngFor="let td of this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTr; let trIndex = index">
                                    <ng-container
                                        *ngFor="let content of this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTr[trIndex].effetMagiqueTableTrContent; let tdIndex = index; trackBy: trackByFn">
                                        <td>
                                            <textarea
                                                [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueTable[indexTable].effetMagiqueTableTr[trIndex].effetMagiqueTableTrContent[tdIndex].contenu"></textarea>
                                        </td>
                                    </ng-container>
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </ng-container>

                    <ng-container *ngFor="let shit of this.objet.effetMagique[indexPropriete].effetMagiqueUl; let indexUl = index;">
                        <span
                            *ngIf="this.objet.effetMagique[indexPropriete].effetMagiqueUl[indexUl].position === indexDescription + 1">
                            <ul>
                                <li *ngFor="let shitBis of this.objet.effetMagique[indexPropriete].effetMagiqueUl[indexUl].effetMagiqueUlContent; let indexLi = index; trackBy: trackByFn">
                                    <textarea
                                        [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueUl[indexUl].effetMagiqueUlContent[indexLi].contenu"
                                        [name]="'positon'+this.objet.effetMagique[indexPropriete].effetMagiqueUl[indexUl].position+'ul'+indexUl+'li'+indexLi"></textarea>
                                </li>
                            </ul>
                        </span>
                    </ng-container>
                </span>
            <br/>
            <h6>Infos effet magique</h6>
            <ng-container
                *ngFor="let shit of this.objet.effetMagique[indexPropriete].effetMagiqueDBInfos; let indexData = index; trackBy: trackByFn">
                <textarea [(ngModel)]="this.objet.effetMagique[indexPropriete].effetMagiqueDBInfos[indexData].contenu"></textarea>
            </ng-container>
        </ng-container>
        <div *ngIf="this.objet.materiau">
            <hr  style="width: 66%; background-color: lightgrey; margin-left: 0; height : 1px">
            <h6>Materiau</h6>
            <mat-form-field class="example-full-width">
                <mat-label>Nom materiau</mat-label>
                <textarea [(ngModel)]="this.objet.materiau.nom" matInput></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 100%">
                <mat-label>Effet materiau</mat-label>
                <textarea [(ngModel)]="this.objet.materiau.effet" matInput></textarea>
            </mat-form-field>
        </div>
        <button class="btn btn-outline-light" (click)="this.modifierContenu()" [disabled]="!this.objet.afficherNom && this.objet.fauxNom.length === 0"
        title="Vous ne pouvez valider si le nom ne sera pas afficher, et qu'aucun faux nom n'est défini.">Valider propriété magique</button>
        <button class="btn btn-outline-warning" (click)="this.resetContenu()">Reset propriété magique</button>
    </div>
</div>
<div *ngIf="this.objet && this.updating">
    <div class="messageChargement">Chargement en cours</div>
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>
