<div id="fakebody">

    <div class="principal">
        <p style="width: 100%">Liens vers les Git</p>
        <ul>
            <li>
                <a href="https://github.com/Seaziicks/lootTableAngular">Angular</a>
            </li>
            <li>
                <a href="https://github.com/Seaziicks/lootTablePHP">PHP</a>
            </li>
        </ul>

        <p style="width: 100%"> Tous les objets et pouvoirs margiques sont tirés de <a href="http://www.gemmaline.com">Gemmaline</a>.</p>
    </div>

</div>


