<div id="fakebody">
  <div class="principal">
    <div id="caracterSelection" class="caracterSelection">
      <h3>Selectionnez un monstre</h3>
      <app-autocomplete-groupe (monstreEventEmitter)="selectionMonstre($event)"
                               [monsterGroupes]="monstresGroupes">
        loading
      </app-autocomplete-groupe>

        <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 (click)="$event.target.select()">
          <mat-label>Familles</mat-label>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionFamille($event)">
            <mat-option *ngFor="let famille of filteredFamilles | async" [value]="famille.libelle"
                        (onSelectionChange)="selectionFamille(famille)">
              {{famille.libelle}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </form>

    </div>
    <div style="width: 100%">
      <h3 *ngIf="monstreCourrant"> {{monstreCourrant.libelle}}</h3>
    </div>
    <div style="width: 100%">
      <h3 *ngIf="familleCourante"> {{familleCourante.libelle}}</h3>
    </div>
    <div style="width: 100%">
      <form class="needs-validation" id="competenceEffectForm">


      </form>

    </div>
  </div>
</div>


