.tippy-popper {
    color: white;
}

.test {
    color: red;
}
.niveauCompetenceRequis {
    color: darkgoldenrod;
}

.niveauDebloque {
    color: #DB6409;
}

.niveauNonDebloque {
    opacity: 0.3;
    user-select: none;
}

.contenu {
    color: #DE9A67;
}

.niveauCompetenceAnnonceur, .niveauCompetence {
    color: wheat;
}
