@import '../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.missing input {
    background-color: rgba(12, 50, 50, 0.9);
}

.missingValue {
    color: red;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.form-control:disabled {
    background-color: rgba(12, 50, 50, 0.9);
}
.basic-container {
    padding: 30px;
}
.version-info {
    font-size: 8pt;
    color: wheat;
    float: right;
    margin: 8px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#fakeBody {
    background-image: url("../../../assets/fond/228090286-black-and-brown-wallpaper.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
    margin: 0 auto;
    padding: 1px;
    // margin: -1px;
    min-height: calc(100vh - 64px);
    width: 100%;
}

.principal {
    min-width : 80%;
    min-height : 89%;
    margin: 2% 9% 2% 9%;
    background-color: rgba(25, 7, 7, 0.85);
    border-radius: 15px;
    padding : 50px;
    display: flex;
    flex-wrap: wrap;
}

.noms {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nomObjet {
    position: relative;
    border: solid 1px wheat;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    min-height: 75px;
    min-width : 24%;
    display: flex;
}

.nomObjet button, .spinner_overlay {
    flex:1
}

.spinner_overlay {
    position: absolute;
    background-color: rgba(0, 105, 217, 0.9);
    // opacity: 0.3;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid 1px wheat;
    border-radius: 5px;
}
