<div id="fakeBody">
    <div class="principal">
        <div id="caracterSelection" class="caracterSelection">
            <label for="inputPersonnageChoix">Selectionnez un personnage pour visionner ses objets</label>
            <select id="inputPersonnageChoix" class="form-control" (change)="selectPersonnage()" [(ngModel)]="this.idPersonnageSelectionne">
                <option *ngFor="let personnage of this.personnages" [value]="personnage.idPersonnage">
                    {{personnage.idPersonnage}} - {{personnage.nom}}
                </option>
            </select>
        </div>
        <div style="width: 100%">
            <h3 *ngIf="this.currentPersonnage"> {{currentPersonnage.nom}}</h3>
        </div>
        <div style="width: 100%">
            <div class="noms">
                <ng-container *ngFor="let objet of this.objetMinimisations">
                    <div class="nomObjet">
                        <div class="spinner_overlay" *ngIf="this.updatingObjetName && this.updatingObjetID === objet.idObjet">
                            <app-spinner></app-spinner>
                        </div>
                        <button class="btn btn-danger" (click)="this.selectObjet(objet.idObjet)" [disabled]="this.updatingObjetName && this.updatingObjetID !== objet.idObjet">
                            <b>{{getNomSansBalise(objet.nom)}}</b><ng-container *ngIf="objet.fauxNom"> <br/><i>{{objet.fauxNom}}</i></ng-container>
                        </button>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="this.objetCourantID">
                <app-personnage-objet [personnageCourant]="currentPersonnage" [personnages]="personnages" [idObj]="this.objetCourantID"
                                      (changingObjet)="this.reloadObjetsNames($event)"></app-personnage-objet>
            </ng-container>

        </div>
    </div>
</div>


