@import "./src/app/objets/cssObjetCommun";

textarea, .example-full-width  {
    width: 100%;
}

.messageChargement {
    font-size: 21px;
    margin: 50px auto auto;
}

::ng-deep .personnageObjet .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background-color: white;
    color: black;
}

.personnageObjet {
    margin-top: 50px;
}

.titleTop .h1Fake {
    min-width: 250px;
    text-align: left;
}
