<div class="container">
    <div class="loginContainer">
        <form>
            <span class="imageIcon">
                <i class="logo">
                    <img src="assets/fond/scroll-quill%20(1).png" class="d-inline-block" alt="">
                </i>
            </span>
            <span class="form-title">
                Log in
            </span>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input matInput placeholder="Username" id="usernameUser" (keydown.enter)="this.signIn()">
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="passwordUser"
                    (keydown.enter)="this.signIn()">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <p>{{this.message}}</p>
            <button class="validationButton" (click)="this.signIn()">Log in</button>
            <button type="button" class="btn btn-outline-light" style="margin-top: 15px; margin-bottom: 15px;" (click)="this.loadSignIn()">Sign in</button>
        </form>
    </div>
</div>
