.globalContainer {
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    padding: 1px;
    width: 100%;
}

.tableContainer {
    width: 60%;
    margin: 50px auto 50px auto;
}

.tableContainer table {
    width: 100%;
}

table, tr, th, td {
    border: unset;
}

table {
    box-shadow: 0 0 10px 3px rgba(245, 222, 179, 0.8);
}

.tableContainer .boutonValiderTable {
    margin: 5px 0 50px 0;
    float: right;
}

.tableContainer .boutonControlleTable, .tableContainer .boutonModifierDonneesTables {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tableContainer .boutonModifierDonneesTables {
    justify-content: flex-end;
}

.tableContainer table input {
    width: 35px;
}

.tableContainer table .tdContent {
    text-align: center;
}

.nouveauNiveau {
    width: 60%;
    margin: 50px auto 50px auto;
}

.nouveauNiveau input, .nouveauNiveau mat-form-field {
    width: 150px;
    color: black;
}

::ng-deep .nouveauNiveau .mat-form-field-flex {
    background-color: white;
}

::ng-deep .nouveauNiveau .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: rgba(230, 230, 230, .6);;
}

::ng-deep .nouveauNiveau .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 127, .38);
}

.nouveauNiveau form {
    display: flex;
    flex-flow: row wrap;
}

.nouveauNiveau input::-webkit-outer-spin-button,
.nouveauNiveau input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.nouveauNiveau input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

::ng-deep .nouveauNiveau .mat-form-field-suffix {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.minusMatIcon {
}
